.itemsNumber2{
	border-width: 0px;
    width: 18px;
    height: 30px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #4C6579;
}